

.footer1{
    color: white;
    background-color: rgb(71, 16, 85);
    padding-top: 10%;
    clip-path: ellipse(90% 100% at center top);
    text-align: center;
    padding-bottom: 30%;
    }
    .buttonfooter1 {
      color: rgb(71, 16, 85);
      background-color: white;
      margin-top: 5%;
      margin-left: 2.5%;
      border-radius: 3px;
      display: block;
      text-align: center;
      padding: 2% auto;
      border: 0;
      width: 95vw;
      height: 8vh;
      max-width: 400px;}
    
      .buttonfooter2{
        color: white;
        background-color: rgb(71, 16, 85);
        margin-top: 5%;
        margin-left: 2.5%;
        border-radius: 3px;
        display: block;
        text-align: center;
        padding: 2% auto;
        border: 1;
        border-color: white;
        width: 95vw;
        height: 8vh;
        max-width: 400px;}
    
        .footer2{
          background-color: white;
          height: 15%;
          padding-top: 15%;
        }

.menufooter1{
    padding-top: 7%;
    border-bottom: 1px solid black;
    padding-bottom: 10%;
}
        .caja1footer {
            padding-top: 2%;
            margin-bottom: 2%;
          }
          
          .menufooter1texto {
            float: left;
            width: 50%;
          }
          
          .menufooter1imagen {
            float: right;
            width: 50%;
            text-align: right;
          }
          
          .menufooter1imagen img {
            max-width: 100%;
          }
          .menufooter2{
            padding-top: 4%;
            padding-bottom: 5%;
          }