.contenedormain{
    background-color: rgb(219, 197, 136);
    padding-top: 15%;
  }
  
  .imageneslogos {
    text-align: center;
  }
  
  .imageneslogos {
    text-align: center;
  }
  
  .imageneslogos img {
    margin: 3%;
  }
  
  .blue {
    color: blue;
  }
  
  .texto {
    padding-top: 10%;
  }
  
  .imagenlateral {
    padding-top: 20%;
  }
  
  .flexibility {
    float: right;
  }
  
  .texto2 {
    padding-top: 10%;
  }
  
  .texto3 {
    padding-top: 10%;
  }