* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}







.contenedorhead {
  top: 0;
  left: 0;
  background-color: rgb(71, 16, 85);
  color: white;
  width: 100%;
  height: auto;
}

.navbar {
  position: fixed;
  top: 2%;
  left: 5%;
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.contenedor {
  padding-top: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(71, 16, 85);
  color: white;
}

.izquierdohead {
  padding: 5%;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  text-align: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-weight: 700;
  background-color: rgb(71, 16, 85);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.derechohead {
  padding: 5%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amarillo {
  color: #ECB22E;
}

.botonregistro {
  color: rgb(71, 16, 85);
  background-color: white;
  margin-top: 20%;
  border-radius: 3px;
  display: block;
  text-align: center;
  padding: 10% auto;
  border: 0;
  width: 100%;
  height: 8vh;
  max-width: 400px;
}

.titulo {
  font-size: 61px;
}

.botongoogle {
  background-image: url("../img/cuadrogoogle.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 3% auto;
  border-radius: 3px;
  display: block;
  text-align: center;
  padding: 3% 10%;
  border: 0;
  width: 100%;
  height: 8vh;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}






.contenedormain{
  background-color: rgb(219, 197, 136);
  padding-top: 15%;
}

.imageneslogos {
  text-align: center;
}

.imageneslogos {
  text-align: center;
}

.imageneslogos img {
  margin: 3%;
}

.blue {
  color: blue;
}

.texto {
  padding-top: 10%;
}

.imagenlateral {
  padding-top: 20%;
}

.flexibility {
  float: right;
}

.texto2 {
  padding-top: 10%;
}

.texto3 {
  padding-top: 10%;
}

.main2{
  background-color: white;
  padding-top: 20%;
  text-align: center;
}

  .textomain2{
    text-align: center;
    width: 60vw;
    margin-left: 20%;

  }
  
.botonesventas{
    padding: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conoceventas {
  color: white;
  background-color: rgb(71, 16, 85);
  margin-top: 15%;
  border-radius: 3px;
  display: block;
  text-align: center;
  padding: 3% auto;
  border: 0;
  width: 95vw;
  height: 8vh;
  max-width: 400px;}

  .hablaventas{
    color: rgb(71, 16, 85);
  background-color: white;
  margin-top: 15px;
  margin-bottom: 50px;
  border-radius: 3px;
  display: block;
  text-align: center;
  padding: 3% auto;
  border: 1;
  border-color: rgb(71, 16, 85);
  width: 95vw;
  height: 8vh;
  max-width: 400px;
}
.morado {
  color: rgb(71, 16, 85);
}
.porcentajes{
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}
.video-container {
  position: relative;
  overflow: hidden;
  border-radius: 0 45% 45% 0;
  width: 90vw;
  height: 30vh
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90vw;
  height: 30vh;
  border: none;
  border-right: solid 1px black;
}
.texto2main2{
  text-align: left;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 10%;
}
.ultimomarron{
background-color: rgb(219, 197, 136);; 
  margin-top: 50px; 
  text-align: center;
  padding-top: 50px;
  
}

.ultimobloquemain{
  background-color: white;
  margin-right: 10%;
  margin-left: 10%;
  padding: 3%;
}
.cajamorada{
  padding: 5.5%;
}
.textoultimomain{
  text-align: left;
}

.textoultimomainblue{
text-align: left;
color:blue;
}
.puntitos{
  padding-top: 10%;
  padding-bottom: 10%;
}











.footer1{
color: white;
background-color: rgb(71, 16, 85);
padding-top: 10%;
border-radius: 0 0 30% 30%;
text-align: center;
padding-bottom: 30%;
}
.buttonfooter1 {
  color: rgb(71, 16, 85);
  background-color: white;
  margin-top: 5%;
  margin-left: 2.5%;
  border-radius: 3px;
  display: block;
  text-align: center;
  padding: 2% auto;
  border: 0;
  width: 95vw;
  height: 8vh;
  max-width: 400px;}

  .buttonfooter2{
    color: white;
    background-color: rgb(71, 16, 85);
    margin-top: 5%;
    margin-left: 2.5%;
    border-radius: 3px;
    display: block;
    text-align: center;
    padding: 2% auto;
    border: 1;
    border-color: white;
    width: 95vw;
    height: 8vh;
    max-width: 400px;}

    .footer2{
      background-color: white;
      height: 20%;
    }